.category {
  width: 90%;
  margin: 0;
  padding: 0;
}
 .category-container {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 10px;
    box-shadow: 0px 4px 5px black;
    cursor: pointer;
    transition: 0.4s;
    transition: all 0.7;
}
 .categoriesName {
    opacity: 0.7;
    letter-spacing: 10px;
    width: 100%;
    border-bottom: 1px solid white;
    display: inline-block;
    font-size: 35px;
    font-weight: bolder;
    color: white;
    padding: 0 0 5px;
    text-align: start;
    transition: all 0.7s;
    box-sizing: border-box;
    transition: 0.5s;
}
.categoriesName:hover {
  border-bottom: 1px solid white;
  transition: 0.5s;
  opacity: 1;
}
.catDescribe {
    font-weight: lighter;
    font-size: 10px;
    width: 90%;
    border-radius: 10px;
    margin: 0 0 10px;
    text-align: start;
    color: white;
    transition: all 0.7s;
}
 .styleCatalog {
     width: 400px;
     text-align: center;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 50px;
}
 .bg-pan-tl {
	-webkit-animation: bg-pan-tl 8s linear infinite alternate-reverse ;
    animation: bg-pan-tl 8s linear infinite alternate-reverse ;
}
 @-webkit-keyframes bg-pan-tl {
    0% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @keyframes bg-pan-tl {
    0% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
}

@media screen and (max-width: 800px) {
  .category-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
}