@media screen and (max-width: 800px) {
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
 * {
     font-family: 'Ubuntu', sans-serif;
}
 body {
    margin: 0 auto;
    background-color: grey;
    /* display: flex; */
    flex-wrap: wrap;
}
 header {
    display: flex;
    width: 100%;
}
#menuBar{
    position: fixed;
    padding: 5px;
    margin: 0;
    top: 10px;
    left: -500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    background-color: grey;
    border-radius: 5px;
    z-index: 9;
    box-shadow: 0px 5px 10px black;
    width: 90%;
    border-radius: 50px;
}
#openMenu {
    border-radius: 50%;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 25px;
    font-size: 20px;
    padding: 5px;
    background-color: grey;
    text-align: center;
    z-index: 9;
    cursor: pointer;
    transition: all 0.7s;
}
#openMenu:hover {
    background-color: yellow;
}
 #closeMenu {
    background-image: url('https://cdn-icons-png.flaticon.com/256/58/58253.png');
    width: 10px;
    background-size: cover;
    padding: 5px;
    text-align: center;
    border: none;
    color: white;
    box-shadow: 1px 3px 8px black;
    border-radius: 50%;
    transition: all 0.7s;
}
 #closeMenu:hover {
    background-color: wheat;
    transition: all .7s;
}
.knopki {
    padding: 5px;
    text-align: center;
    line-height: 10px;
    position: relative;
    width: 25%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    /* font-weight: 700; */
    text-align: center;
    color: white;
    height: auto;
}
 .pic {
     width: 100%;
     border: .5px solid black;
     border-radius: 20px;
     box-sizing: border-box;
     transition: all 0.4s;
    }
 .flex-box-main {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 15px;
    
 }
 .flex-box-group {
    position: relative;
    width: 100px;
    margin: 10px;
 }
 .title {
    font-size: 10px;
    color: white;
    position: absolute;
    width: 100%;
    top: 33%;
    margin: 0 auto;
    text-align: center;
    opacity: 0.5;
 }
 .imgContainer {
    width: 100%;
 }
 .singleCard {
    position: relative;
    width: 100%;
 }
 .largePic {
    width: 100%;
 }
 .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: opacity 0.3 ease;
}
 .modal {
    background-color: #241d1d;
    color: whitesmoke;
    width: 400px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .modal h1 {
    margin: 0;
    text-align: center;
}
 .modal p {
    font-size: 14px;
    opacity: 0.7;
}
 .modal-container.show {
    transition: all 0.7s;
    pointer-events: auto;
    opacity: 1;
}
 .modal-container.show.fade-out {
   transition: opacity 0.7s ease;
   pointer-events: none;
   opacity: 0;
}
 .footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}