header {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menuBar{
    position: fixed;
    margin: 0;
    top: 10px;
    left: -600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: auto;
    background-color: grey;
    border-radius: 5px;
    z-index: 9;
    box-shadow: 0px 5px 10px black;
}
#openMenu {
    border-radius: 25px;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 25px;
    font-size: 20px;
    padding: 10px;
    background-color: grey;
    text-align: center;
    z-index: 9;
    cursor: pointer;
    transition: all 0.7s;
}
#openMenu:hover {
    background-color: yellow;
}
#closeMenu {
    background-image: url('https://cdn-icons-png.flaticon.com/256/58/58253.png');
    background-position: center;
    background-size: cover;
    background-color: white;
    padding: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.7s;
    border-radius: 50%;
    border: .5px solid white;
    transition: all .7s;
    margin: 5px;
}
#closeMenu:hover {
    background-color: wheat;
    transition: all .7s;
}
.knopki {
    padding: 10px;
    text-align: center;
    line-height: 10px;
    position: relative;
    width: 80%;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    color: white;
    border-bottom: 0.5px solid black;
}
.knopki:hover{
    color: #fff;
    background-color: darkgrey;
}
 .buttonBack {
    width: 25px;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 25px;
    text-align: center;
    top: 50px;
    left: 10px;
    position: absolute;
    color: black;
    z-index: 9;
    transition: 0.7s;
    cursor: pointer;
    background-color: grey;
 }
 .buttonBack:hover{
    color: black;
    background-color: yellow;
    transition: 0.7s;
}