.singleCard {
    position: relative;
    margin: 10px;
    transition: all 0.7s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.largePic {
    width: 1000px;
    box-shadow: 0px 2px 8px black;
    transition: all 0.7s;
}
 .largePic-container {
    position: relative;
 }
.singleCard:hover #closeInCard {
    opacity: 1;
    transition: 0.5s;
    background-color: red;
}
#closeInCard {
    opacity: 0;
    background-color: transparent;
    position: absolute;
    z-index: 8;
    top: 0;
    right: 0;
    width: 10px;
    padding: 4px;
    border: 0.5px solid grey;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s;
}
 .modal-buttons {
    width: 75%;
    display: flex;
    justify-content: center;
 }
@media screen and (max-width: 800px) {
    #closeInCard {
        opacity: 1;
        background-color: red;
    }
}

@media screen and (max-width: 400px) {
    #closeInCard {
        top: 8px;
    }
}