@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import 'menu.css';
@import 'categories.css';
@import 'modalCard.css';
@import 'onecard.css';
 * {
     font-family: 'Ubuntu', sans-serif;
}
 body {
     height: auto;
     width: 100%;
     padding: 0;
     margin: 0 auto;
     background-attachment: fixed;
     display: flex;
     flex-wrap: wrap;
}
 main {
    display: flex;
    justify-content: center;
 }
 .pic {
     width: 300px;
     transform: scale(1.3);
     border: .5px solid black;
     box-sizing: border-box;
     transition: all 0.4s;
     margin: 0;
     padding: 0;
}
.imgContainer {
    display: flex;
    align-items: center;
    width: 300px;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
 .imgContainer:hover .pic {
     transition: all 0.5s;
     transform: scale(1.4);
}
 .flex-box-group {
     width: 250px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     cursor: pointer;
}
 @keyframes fadeIn {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}
 .fade-in {
    animation: fadeIn 0.4s ease-in-out;
}
 .title {
     text-align: center;
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 25px;
     color: white;
     margin-bottom: 10px;
     z-index: 5;
     transition: opacity 0.7s;
     pointer-events: none;
}
 .flex-box-group:hover .title {
     opacity: 1;
     transition: 0.7s;
}

 .flex-box-main {
    width: 1200px;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}
 .describe {
     width: 350px;
     height: 30px;
     font-size: 15px;
     color: white;
     text-align: center;
     margin-top: 10px;
     line-height: 30px;
     font-style: italic;
}
 .footer {
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .bot {
     display: inline-block;
     color: white;
     font-weight: 400;
}
 #loadingAnimation {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    z-index: 10;
    transition: all 0.7s;
    pointer-events: none;
}
 @media screen and (max-width: 800px) {
     body {
         margin: 0;
         padding: 0;
         position: relative;
         display: flex;
         align-items: start;
         width: 100%;
    }
     main {
         width: 100%;
         justify-content: center;
    }
     .flex-box-main {
        width: 100%;
        display: flex;
        justify-content: center;
        /* align-items: start; */
     }
     .flex-box-group {
        position: relative;
        width: 250px;
        margin: 0;
        padding: 0;
     }
     .imgContainer {
        width: 100%;
        overflow: hidden;
     }
     .pic {
        width: 100%;
        background-size: cover;
        background-position: center;
     }
     .largePic {
        width: 100%;
        height: auto;
   }
     .singleCard {
        display: flex;
        width: 100%;
        height: 300px;
        align-items: center;
        flex-wrap: wrap;
        margin: 15px;
    }
     .modal {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         width: 300px;
         height: 100px;
         align-items: center;
         padding: 25px;
    }
     .footer {
         opacity: 0;
         pointer-events: none;
         position: fixed;
         bottom: 10px;
    }
}