@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import 'menu.css';
@import 'categories.css';
@import 'modalCard.css';
 * {
     font-family: 'Ubuntu', sans-serif;
}
 body {
     width: 100%;
     padding: 0;
     margin: 0 auto;
     background-attachment: fixed;
}
 .pic {
     width: 350px;
     height: 200px;
     border: .5px solid black;
     box-sizing: border-box;
     transition: all 0.4s;
}
 .largePic {
     border: 1px solid black;
     border-radius: 10px;
     transition: all 0.7s;
     width: 100%;
     height: 100%;
}
 .singleCard {
     margin: 10px;
     transition: all 0.7s;
     border-radius: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: end;
}
 .info, #download {
     width: 4;
     font-size: 13px;
     margin-top: 15px;
     color: white;
     border-radius: 5px;
     border: 0.5px solid white;
     transition: .5s;
     padding: 10px;
     cursor: pointer;
     text-align: center;
     background: none;
     margin-right: 15px;
     text-decoration: none;
}
 .info:hover, #download:hover {
     border: 0.5px solid black;
     transition: .5s;
}
 .flex-box-group {
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     margin-top: 25px;
     justify-content: center;
     position: relative;
     cursor: pointer;
}
 @keyframes fadeIn {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}
 .fade-in {
    animation: fadeIn 0.4s ease-in-out;
}
 .title {
     text-align: center;
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 25px;
     color: white;
     margin-bottom: 10px;
     z-index: 5;
     transition: opacity 0.7s;
     pointer-events: none;
}
 .flex-box-group:hover .title {
     opacity: 1;
     transition: 0.7s;
}
 .imgContainer {
     /* border-radius: 20px; */
     overflow: hidden;
     box-sizing: border-box;
     position: relative;
}
 .pic:hover {
     transition: all 0.5s;
     transform: scale(1.1);
}
 .flex-box-main {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
 .describe {
     width: 350px;
     height: 30px;
     font-size: 15px;
     color: white;
     text-align: center;
     margin-top: 10px;
     line-height: 30px;
     font-style: italic;
}
 .footer {
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .bot {
     display: inline-block;
     color: white;
     font-weight: 400;
}
 #loadingAnimation {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    z-index: 10;
    transition: all 0.7s;
    pointer-events: none;
}
 .flex-box-main-grid {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}
.flex-box-group-grid {
    margin: 5px;
    width: 50px;
    height: 50px;
}
.pic-grid {
    width: 150px;
    height: auto;
}
.imgContainer-grid {
    border-radius: 0px;
}

 @media screen and (max-width: 800px) {
     body {
         margin: 0;
         padding: 0;
         position: relative;
         width: 100%;
         height: 100vh;
    }
     header {
         display: flex;
         justify-content: space-evenly;
    }
     main {
         width: 100%;
         justify-content: center;
    }
     #menuBar {
         font-size: 10px;
         display: flex;
         justify-content: space-evenly;
         flex-direction: row;
         width: 100%;
         border-radius: 50px;
    }
     #openMenu {
         padding: 5px;
    }
     #closeMenu {
         background-image: url('https://cdn-icons-png.flaticon.com/256/58/58253.png');
         width: 20px;
         height: 20px;
         text-align: center;
         border: none;
         color: white;
         box-shadow: 1px 3px 8px black;
         border-radius: 50%;
         transition: all 0.7s;
    }
     .knopki {
         width: 25%;
         padding: 5px;
         text-align: center;
         border: none;
         border-radius: 10px;
         margin-top: 0;
         font-size: 12px;
    }
     .largePic {
         border-radius: 20px;
         width: 100%;
         height: auto;
         border: 1px solid black;
    }
     .singleCard {
         margin: 15px;
         border: none;
         width: auto;
         padding: 0;
    }
     .modal {
         /* position: absolute; */
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         width: 300px;
         height: 100px;
         align-items: center;
         /* transition: all 0.7s; */
         padding: 25px;
    }
     footer {
         /* margin-top: 25px; */
         position: fixed;
         bottom: 10px;
    }
}